<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Normal_C10_ButtonTitle</key>
	<string>0xffffff</string>
	<key>Normal_C9_Background</key>
	<string>0xf8f8f8</string>
	<key>Normal_C8_SecondSeparateLine</key>
	<string>0xeeeeee</string>
	<key>Normal_C7_SeparateLine</key>
	<string>0xdcdcdc</string>
	<key>Normal_C6_AidTitle</key>
	<string>0x999999</string>
	<key>Normal_C5_NormalTitle</key>
	<string>0x666666</string>
	<key>Normal_C4_SubTitle</key>
	<string>0x333333</string>
	<key>Normal_C3_Blue</key>
	<string>0x003569</string>
	<key>Normal_C2_Black</key>
	<string>0x000000</string>
	<key>Normal_C1_Red</key>
	<string>0xee403c</string>
</dict>
</plist>
